*{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
/*Nav*/
nav{
  display: flex;
  justify-content: space-between;
  padding: 50px 200px;
}

.nav-title{
  font-weight: 800;
  font-size: 45px;
}

nav h3 span{
  color: #FD6E0A;
}

.nav-bar{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar li{
  list-style: none;
  margin-left: 30px;
}

.nav-bar li a{
  text-decoration: none;
  color: #474747;
  font-size: 20px;

}

.nav-bar li button{
  padding: 12px 25px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  border-radius: 5px;
  background-color: #FD6E0A;
  border: 0;
}

 /*Header information */
header{
  background-image: url(../images/header_bg.png),url(../images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, left;
}

 .header-info{
  display: flex;
  justify-content: space-between;
  padding: 0 200px;
  
}

.header-title{
  font-weight: 600;
  font-size: 35px;
  color: #474747;
}

.header-info-name{
  font-weight: 700;
  font-size: 75px;
  color: #181818;
  margin-top: 5px;
  margin-bottom: 20px;
}

.header-description{
  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;
}

#header-info-btn{
  display:inline;
}


.btn-download{
  padding: 10px 15px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  border-radius: 5px;
  background-color: #FD6E0A;
  border: 0;
  text-align: center;
  margin-right: 10px;
}

.btn-contact{
  background-color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  padding: 10px 15px;
  color: #FD6E0A;
  border: 1px solid #FD6E0A;
  border-radius: 5px;
}

/*About me*/

.about-me{
  margin: 130px 200px;
  text-align: center;
  background: #FFF8F3;
  border-radius: 10px;
}

.about-me-title{
  font-weight: 700;
  font-size: 35px;
  padding-top: 130px;
  padding-bottom: 30px;
  color: #181818;
}

.about-me-description{
  padding: 0 150px;
  font-weight: 400;
  font-size: 18px;
  color: #757575;
}

.about-info{
  padding: 30px 150px 130px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

/*Work Experience*/

.work-info{
  margin: 130px 200px;
  background: #FFF8F3;
}

.work-title{
  font-weight: 700;
  font-size: 35px;
  color: #181818;
  margin-bottom: 30px;
  text-align: center;
}

.work-description{
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  color: #757575;
  margin-bottom: 50px;
}

.work-list{
  display: flex;
}

.work-list > div{
  background: #FFFFFF;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  margin: 0 10px;
  padding: 15px;
}

.work-list-title{
  font-weight: 700;
font-size: 20px;
line-height: 27px;
text-align: center;
padding-top: 20px;
padding-bottom: 10px;
}

.work-list-description{
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #757575;
}